/* general styling */
*,
*::before,
*::after{
    box-sizing: border-box;
}

/* css variables */
:root{
    --lightColor:#FCF6EE;
    --darkColor: #0d1b2a;
    --accentColor: #fbcaef;
    --secondaryAccentColor: #aa6373;
 
    --fontSize-h1: 3rem; 
    --fontSize-h2: 2.25rem;
    --fontSize-h3: 1.25rem;
    --fontSize-body: 1rem;
}

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--lightColor);
    color: var(--darkColor);
    margin: 0;
    font-size: var(--fontSize-body);
    line-height: 1.6;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


img{
    display: block;
    max-width: 100%;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1 {font-size: var(--fontSize-h1)};
h2 {font-size: var(--fontSize-h2)};
h3 {font-size: var(--fontSize-h3)};

.section_title{
    margin-bottom: .45em;
}

/* nav styling done with bootstrap*/

/* hero styling */

/* about styling */
.about-img{
    max-width: 300px;
}

.about-heading {
    font-weight: 300;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}
  

/* Portfolio Styling  */
.work{
    text-align: center;
}

.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 0;
    max-width: 1600px;
}

.portfolio_item{
    background-color: var(--darkColor);
    overflow: hidden;
}

.portfolio_img{
    transition: transform 750ms cubic-bezier(.5, 0, .5,1),
    opacity 250ms linear;
}

.portfolio_img:hover{
    transform: scale(1.1);
    opacity: .75;
}

/* Footer Styling */
footer{
    background-color: var(--accentColor);
    text-align: center;
    padding: 2.5em 0;
    color: var(--darkColor);
}

footer a{
    color: inherit;
    text-decoration: none;
}

.footer_link:hover {
    text-decoration: underline;
}

.footer_title{
    margin-bottom: .5em;
}

/* Social Media icons */

.fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
  }
  
  .fa:hover,
  .footer_link:hover {
      opacity: 0.7;
  }
  
  .fa-facebook,
  .fa-linkedin,
  .fa-instagram,
  .fa-github {
    color: var(--darkColor);
}

.social_list{
    display: flex;
    justify-content: center;
    margin: .1em 0;
    padding: 0;
}

@media (min-width: 800px) {
    :root{
        --fontSize-h1: 4.5rem;
        --fontSize-h2: 3.75rem;
        --fontSize-h3: 1.5rem;
        --fontSize-body: 1.25rem;        
    }
}

@media (min-width: 40em) {
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
}
  